body {background-color: white;}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(105, 131, 177);
}
.bottom-line { 
    border-bottom: 3px solid rgb(105, 131, 177); 
    margin: 0.1px;
    text-align: center;
}

.item {
    width: 49.5%;
    float: left;
}
.item2 {
    width: 49.5%;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(70px,1fr) 1fr 9fr;
    column-gap: 10px;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(4, 4, 4);
}

.img {
    min-width: 0;
    max-width: 100%;
    height: 100%;
    padding-bottom: 100%
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    float: left;
    color: rgb(105, 131, 177);
    margin-bottom: 0px;
    padding: 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(1, 1, 1);
    padding: 0px;
    margin-top: 0px;
    float: left;
}

.name {
    margin: 0 auto;
}